# Configuration MongoDB
MONGODB_URL=mongodb+srv://genieouz:74632@cluster0.9z1a3.mongodb.net/senegalservices-auth

# Configuration Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=senegalservices
KEYCLOAK_ADMIN_CLIENT_ID=keycloak_admin_api
KEYCLOAK_ADMIN_CLIENT_SECRET=KabivlQz5GVG5Rw9BEKVSqKfzm6OXPbY
KEYCLOAK_USER_CLIENT_ID=senegalservices_client

# Configuration de l'application
PORT=3001
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key-change-in-production
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Configuration des services externes (pour l'envoi SMS/Email)
# Configuration du service de notification
NOTIFICATION_SERVICE=https://senegalservices.notification.api.sandbox.topatoko.com